<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ message }}</title>

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.png') }}"
    />

    <script
      defer
      src="{{ url_for('static', filename='plugins/fontawesome/js/all.min.js') }}"
    ></script>

    <link
      id="theme-style"
      rel="stylesheet"
      href="{{ url_for('static', filename='css/portal.css') }}"
    />

    <link
      rel="manifest"
      href="{{ url_for('static', filename='manifest.json') }}"
    />
  </head>

  <body class="app app-404-page">
    <div class="container mb-5">
      <div class="row">
        <div class="col-12 col-md-11 col-lg-7 col-xl-6 mx-auto">
          <!--//app-branding-->
          <div class="app-card p-5 text-center shadow-sm mt-5">
            <div
              class="app-branding text-center mb-4"
              style="margin-bottom: 0px; padding-top: 0px"
            >
              <a class="app-logo" href=""
                ><img
                  class="logo-icon"
                  src="{{ url_for('static', filename='images/logotik.png') }}"
                  alt="logo"
                />
              </a>
            </div>
            <h1 class="page-title mb-4">
              {{ code }}<br /><span class="font-weight-light"
                >{{ message }}</span
              >
            </h1>
            <div class="mb-4">Halaman yang anda cari tidak dapat diakses.</div>
            <a class="btn app-btn-primary" href="/">Kembali ke Halaman Utama</a>
          </div>
        </div>
        <!--//col-->
      </div>
      <!--//row-->
    </div>
    <!--//container-->
  </body>
  <script>
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker
        .register("{{ url_for('static', filename='service-worker.js') }}")
        .then((registration) => {
          console.log(
            "Service Worker registered with scope:",
            registration.scope
          );
        })
        .catch((error) => {
          console.error("Service Worker registration failed:", error);
        });
    }
  </script>
</html>
