{% extends 'auth/base.html' %} {% block title %}Masuk{% endblock title %} {%
block content %}
<div class="auth-intro mb-4 text-center">
  Masukkan email terdaftar anda agar dapat menerima email berisi link untuk
  reset password.
</div>
<form
  method="post"
  action="{{ url_for('auth.reset_password') }}"
  class="auth-form"
>
  <div class="email mb-3">
    <label class="sr-only" for="email">Email</label>
    <input
      id="email"
      name="email"
      type="email"
      class="form-control email"
      placeholder="Masukkan email Anda"
      required="required"
    />
  </div>
  <div class="text-center">
    <button
      type="submit"
      class="btn app-btn-primary btn-block theme-btn mx-auto"
    >
      Reset Password
    </button>
  </div>
</form>

<div class="auth-option text-center pt-5">
  <a class="text-link" href="sign-in">Masuk</a> <span class="px-2">|</span>
  <a class="text-link" href="sign-up">Daftar</a>
</div>

{% endblock content %}
