{% extends 'dashboard/base.html' %} {% block title %}Pengguna{% endblock title
%} {% block content %}
<div class="row g-3 mb-5 align-items-center justify-content-between">
  <div class="col-auto">
    <h1 class="app-page-title mb-0">Pengguna</h1>
  </div>
  <div class="col-auto">
    <input
      type="text"
      id="search-orders"
      name="searchorders"
      class="form-control search-orders"
      placeholder="Cari nama"
    />
  </div>
</div>
<!--//row-->

<div class="tab-content" id="orders-table-tab-content">
  <div
    class="tab-pane fade show active"
    id="orders-all"
    role="tabpanel"
    aria-labelledby="orders-all-tab"
  >
    <div class="app-card app-card-orders-table shadow-sm mb-5">
      <div class="app-card-body">
        <div class="table-responsive">
          <table class="table app-table-hover mb-0 text-left">
            <thead>
              <tr>
                <th class="cell">No</th>
                <th class="cell">Nama</th>
                <th class="cell">Email</th>
                <th class="cell">Waktu Registrasi</th>
                <th class="cell">Status</th>
                <th class="cell">Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td class="cell">{{ loop.index }}</td>
                <td class="cell">{{ user.nama }}</td>
                <td class="cell">{{ user.email }}</td>
                <td class="cell">{{ user.registered_at }}</td>
                <td class="cell">
                  <span class="badge bg-{{ user.status_badge }}"
                    >{{ 'Nonaktif' if user.inactive == "1" else 'Aktif' }}</span
                  >
                </td>
                <td class="cell">
                  <a
                    class="btn-sm app-btn-secondary"
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#modal"
                    onclick="setModalData('{{ user.id }}', '{{ user.inactive }}')"
                    >Ubah Status</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!--//table-responsive-->
      </div>
      <!--//app-card-body-->
    </div>
    <!-- <nav class="app-pagination">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
            >Previous</a
          >
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav> -->
    <!--//app-pagination-->
  </div>
  <!--//tab-pane-->
</div>
{% endblock content %} {% block modal %}
<div
  class="modal fade"
  id="modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Status Pengguna</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="dataForm" method="post" action="{{ url_for('user.update') }}">
          <input type="hidden" name="id" id="id" />

          <div class="mb-5">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" id="status" name="status">
              <option value="0">Aktif</option>
              <option value="1">Nonaktif</option>
            </select>
          </div>

          <div class="row justify-content-between">
            <div class="col-auto">
              <a class="btn app-btn-secondary" href="#" data-bs-dismiss="modal"
                >Batal</a
              >
            </div>
            <div class="col-auto">
              <button class="btn app-btn-primary" type="submit">Simpan</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock modal %} {% block script %}
<script>
  function setModalData(id, status) {
    $("#id").val(id);
    $("#status").val(status);
  }
</script>
{% endblock script %}
